*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(107, 128, 104);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
}

.container{
    background-color: rgb(107, 128, 104);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button{
    display: block;
    margin: 30px auto;
    height: 27px;
    width: 70px;
    border-radius: 3px;
    border: 1px solid gray;
    background-color: lightgray;
    cursor: pointer;
}

#button:hover{
    background-color: gray;
    color: white;
}

.input{
    padding: 10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid gray;
}

